#System Configuration
server_arch=$(dpkg --print-architecture)
#primary ethernet
primary_eth=eth0
primary_eth_ip=192.168.11.30
primary_eth_subnet=192.168.11.0
primary_eth_netmask=255.255.255.0
primary_eth_broadcast=192.168.11.255
primary_eth_gateway=192.168.11.1
# secondary ethernet
secondary_eth=eth1
secondary_eth_ip=192.168.11.31
secondary_eth_subnet=192.168.11.0
secondary_eth_netmask=255.255.255.0
secondary_eth_broadcast=192.168.11.255
secondary_eth_gateway=192.168.11.1
# Bridge interface
bridged_int=br0
#nameservers
nameserver_1=192.168.11.1
nameserver_2=8.8.8.8