#vmbuilder variables
supported_arch="amd64 i386"
supported_releases="precise quantal"
exec_script=post-install-UCK.sh
RAMsize=5120
vmflavour=server
deb_mirror=http://us.archive.ubuntu.com/ubuntu/
deb_sec_mirror=http://security.ubuntu.com/ubuntu/
subnet=192.168.11
subnet_mask=255.255.255.0
ip=20 #starting IP address

# exec script variables
apt_cacher_server=192.168.11.10
nfs_server=192.168.11.10
wget_proxy=192.168.11.10:3128

# username and password
# If you want to do interactive comment these lines out and uncomment the interactive_ lines at the bottom
username=ubuntu
fullname=ubuntu
userpassword=ubuntu

## Start Interactive Username and Password section.
function interactive_username ()
{
read -p "User Name: " username
echo ""
read -p "Full Name: " fullname
echo ""
}

function interactive_password ()
{
read -s -p "Set Password: " userpassword
echo ""
read -s -p "Confirm Password: " confirmpassword
echo ""
if [ $userpassword == $confirmpassword ]; then
    echo "Thank you"
else
    echo "Passwords didn't match, please reenter."
    interactive_password
fi
}
#interactive_username
#interactive_password