#vmbuilder variables
supported_arch="amd64 i386"
supported_releases="precise quantal"
exec_script=post-install-UCK.sh
RAMsize=5120
vmflavour=server
deb_mirror=http://us.archive.ubuntu.com/ubuntu/
deb_sec_mirror=http://security.ubuntu.com/ubuntu/
subnet=192.168.11
subnet_mask=255.255.255.0
ip=20 #starting IP address

# exec script variables
apt_cacher_server=192.168.11.10
nfs_server=192.168.11.10
wget_proxy=192.168.11.10:3128